/* html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
} */

body {
  font-family: 'VT323', sans-serif !important;
  font-weight: normal !important;
}

.footer-bar {
  margin: 0px !important;
  padding: 0px !important;
  padding-top: 1px !important;
  backdrop-filter: blur(11px);
}

.footerNavBar {
  bottom: 0 !important;
  text-align: center;
  font-size: 14px !important;
  padding: 2px 0px !important;
}

.footer-nav-col {
  vertical-align: bottom !important;
  bottom: 0 !important;
  position: fixed !important;
  width: 100%;
  overflow: hidden;
}

.nav-footer {
  vertical-align: bottom !important;
  bottom: 0 !important;
  position: fixed !important;
  width: 100%;
  overflow: hidden;
  z-index: 11 !important;
}

.nav-footer .center.aligned.row {
  padding: 0px;
}

.footer {
  bottom: 0;
}

/* view metrix.place image modal */
.place-view-image {
  display: flex !important;
  margin: auto !important;
  width: 80vh !important;
  height: 80vh !important;
  max-width: 90vw;
  max-height: 90vw;
  background: url('/images/metrix-bg-black-pixelated.png'),
    url('/images/metrix-bg-pixelated-modal.png'),
    url('/images/metrix-stars.png'),
    linear-gradient(to bottom, rgb(28, 5, 41), rgb(48, 48, 48)) !important;
  background-size: cover !important;
  background-position: bottom right !important;
  /* border: 2px solid !important;
  border-image: linear-gradient(to bottom, rgb(68, 10, 103), rgb(147, 50, 158))
    10 !important; */
  border-radius: 5px !important;
  box-shadow: 10px 10px 5px rgb(0 0 0 / 75%) !important;
  align-items: center !important;
  justify-content: center !important;
}

.mon {
  width: 70vh !important;
  max-width: 75vw !important;
  max-height: 75vw !important;
  image-rendering: pixelated !important;
  background-color: rgb(1, 0, 1) !important;
  border: 1px solid rgb(255, 255, 255, 0.25) !important;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 50%) !important;
}

@media (max-height: 750px) {
  .place-view-image {
    width: 100vh !important;
    height: 80vh !important;
    max-width: 95vw;
    max-height: 90vw;
  }
}

.ui.basic.modal > .close {
  top: 2rem !important;
  right: 2rem !important;
}

@media (max-width: 768px) {
  .ui.basic.modal > .close {
    top: 1rem !important;
    right: 1.5rem !important;
  }
}

.debug-contract {
  background: url('/images/metrix-bg-black-pixelated.png'),
    url('/images/metrix-bg-pixelated-modal.png'),
    url('/images/metrix-stars.png'),
    linear-gradient(to bottom, rgb(28, 5, 41), rgb(48, 48, 48)) !important;
  background-size: cover !important;
  background-position: bottom right !important;
  padding: 1rem !important;
  border-radius: 5px !important;
  box-shadow: 10px 10px 5px rgb(0 0 0 / 75%) !important;
}

/* color palette picker */
.palette-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.palette-grid-section .row .column {
  margin: auto;
  padding: 0px !important;
  width: 35px !important;
  height: 32px !important;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1) !important;
  cursor: pointer;
}

#palette-container {
  filter: none !important;
}

.ui.button {
  width: 100% !important;
  height: 3rem;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(32, 13, 42) !important;
  border-radius: 5px !important;
  border: 1px solid #92319d !important;
}

.ui.button:hover {
  transform: translateY(-1px);
  background-color: rgb(50, 21, 66) !important;
}

.ui.button:active {
  transform: translateY(0px);
  background-color: rgb(81, 34, 107) !important;
}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid purple;
  background-color: #000;
  image-rendering: pixelated;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  opacity: 0;
  width: 18.5vh;
  height: 18.5vh;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .img-magnifier-glass {
    /* position: absolute;
    border: 3px solid purple;
    background-color: #000;
    image-rendering: pixelated;
    cursor: none;
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out; */
    border: 1.5px solid purple;
    width: 14.5vh;
    height: 14.5vh;
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

.text-modal-help {
  font-size: 1.5rem;
}

.to-center {
  text-align: center;
}

.to-space-bot {
  margin-bottom: 1rem;
}

.to-button{
  font-size: 1.5rem;
  display: flex;
  background-color: rgb(76, 69, 92);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  padding: .5rem;
  margin-right: .5rem;
  color: aliceblue !important;
}

.to-button:hover {
  transform: translateY(-2px);
  background-color: rgb(100, 89, 124);
}

.to-button:active {
  background-color: rgb(117, 103, 147);
  color: #00000075;
  transform: translateY(0px);
}

.modal-buttons {
  display: flex;
  justify-content: left;
}
